.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #EAE4D5;
    padding: 5rem 9% 5rem 0;
    position: relative;
    padding-top: 29.2rem;
}

.projects h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #333;
}

.projects p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #333;
}